.pList {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Allow items to wrap */
    margin: 0 auto; /* Center the container */
  }
  
  .pListItem {
    flex: 1 1 calc(20% - 20px); /* Five items per row with gaps */
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .pListItem:hover {
    transform: translateY(-10px); /* Move up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
  }
  
  .pListImg {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .pListTitles {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  }
  
  .pListTitles > h1 {
    font-size: 18px;
    color: #444;
    margin: 0;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .pListTitles > h2 {
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0 0 0;
  }
  

  @media (max-width: 768px) {
    .pListItem {
      flex: 1 1 calc(33.33% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .pListItem {
      flex: 1 1 calc(50% - 20px); 
    }
  }
  